flows.json
[{"id":"46a3f4de.4bf254","type":"tab","label":"Flow 13","disabled":false,"info":""},{"id":"2424bdb5.da803a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"99a73a8.2f863c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fc1b3be8.71dc","type":"ui_group","z":"","name":"Default","tab":"99a73a8.2f863c8","disp":false,"width":"27","collapse":false},{"id":"7834ef16.242dc8","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2d4b2835.e8bb48","type":"inject","z":"46a3f4de.4bf254","name":"","topic":"","payload":"[{\"Name\":\"<b>Yokoi</b>\",\"Age\":\"30\",\"Color\":\"lime\",\"Prog\":70,\"Star\":\"3\"},{\"Name\":\"<i>DCJ</i>\",\"Age\":\"50\",\"Color\":\"dodgerblue\",\"Prog\":\"45\",\"Star\":2,\"Pass\":false,\"web\":\"\"},{\"Name\":\"Nick\",\"Age\":\"40\",\"Color\":\"darkred\",\"Prog\":95,\"Star\":\"5\",\"Pass\":true,\"web\":\"http://nodered.org\"},{\"Name\":\"Oli\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127,"y":162,"wires":[["420ba92b.45d27"]]},{"id":"5664b7db.93fb68","type":"inject","z":"46a3f4de.4bf254","name":"","topic":"","payload":"[{\"Name\":\"<b>Yokoi</b>\",\"Age\":\"30\",\"Color\":\"lime\",\"Prog\":20,\"Star\":\"1\"},{\"Name\":\"<i>DCJ</i>\",\"Age\":\"50\",\"Color\":\"dodgerblue\",\"Prog\":\"80\",\"Star\":4,\"Pass\":true,\"web\":\"\"},{\"Name\":\"Nick\",\"Age\":\"40\",\"Color\":\"red\",\"Prog\":90,\"Star\":\"5\",\"Pass\":true,\"web\":\"http://nodered.org\"},{\"Name\":\"Oli\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":235,"y":234,"wires":[["420ba92b.45d27"]]},{"id":"85fb8c60.300408","type":"debug","z":"46a3f4de.4bf254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":545,"y":123,"wires":[]},{"id":"d7a2c5f.80a0638","type":"inject","z":"46a3f4de.4bf254","name":"Go","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":118,"y":122,"wires":[["2fcb3be4.090d44"]]},{"id":"420ba92b.45d27","type":"ui_table","z":"46a3f4de.4bf254","d":true,"group":"fc1b3be8.71dc","name":"People","order":1,"width":"23","height":"12","columns":[{"field":"Name","title":"Who","width":"","align":"left","formatter":"plaintext","editorParams":"{values:[\"male\", \"female\"]}","formatterParams":{"target":"_blank"}},{"field":"Age","title":"Age","width":"40","align":"center","formatter":"plaintext","editor":false,"editorParams":"","formatterParams":{"target":"_blank"}},{"field":"Color","title":"","width":"5%","align":"left","formatter":"color","editor":false,"editorParams":"","formatterParams":{"target":"_blank"}},{"field":"Star","title":"%","width":"100","align":"left","formatter":"star","editor":false,"editorParams":"","formatterParams":{"target":"_blank"}},{"field":"Pass","title":"","width":"5%","align":"center","formatter":"tickCross","editor":false,"editorParams":"","formatterParams":{"target":"_blank"}},{"field":"Prog","title":"","width":"80","align":"left","formatter":"progress","editor":false,"editorParams":"","formatterParams":{"target":"_blank"}},{"field":"web","title":"URL","width":"","align":"left","formatter":"link","editor":false,"editorParams":"","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":424,"y":236,"wires":[["85fb8c60.300408"]]},{"id":"2fcb3be4.090d44","type":"function","z":"46a3f4de.4bf254","name":"","func":"function pad ( num, size ) {\n  if (num.toString().length >= size) return num;\n  return ( Math.pow( 10, size ) + Math.floor(num) ).toString().substring( 1 );\n}\n\nvar output =[];\nvar count=1234567890;\nvar nid = 0;\nfor (var a=0;  a<10; a++ ){\n    count=count+1;\n    nid=nid+1;\n    var mydate = Date.now();\n    var mydate2 = new Date().toLocaleString().replace(/\\D/g,'')+pad(nid, 8);\n    var mypayload=\n    {\n    \"send\": true,\n    \"requestId\": count,\n    \"crq\": count+200,\n    \"notificationId\": mydate2,\n    \"notificationType\": \"new\",\n    \"eventType\": \"PLANNED\",\n    \"cause\": \"Power  equipment  undergoing  maintenance\",\n    \"supplier\": \"AUSGRID\",\n    \"supplierReferenceId\": \"01234567890123456789\",\n    \"tzone\": \"AEST\",\n    \"startTimeStamp\": mydate,\n    \"endTimeStamp\": mydate,\n    \"estTimeStamp\": mydate,\n    \"polygon\": {\n        \"type\": \"Feature\",\n        \"geometry\": {\n            \"type\": \"Polygon\",\n            \"coordinates\": [\n                [\n                    [\n                        100,\n                        0\n                    ],\n                    [\n                        101,\n                        0\n                    ],\n                    [\n                        101,\n                        1\n                    ],\n                    [\n                        100,\n                        1\n                    ],\n                    [\n                        100,\n                        0\n                    ]\n                ]\n            ]\n        }\n    },\n    \"sent\":\"true\"\n}\n output.push(mypayload);\n}\n    mypayload=\n    {\n    \"requestId\": count+1,\n    \"notificationId\":\"\", \n    \"notificationType\": \"new\",\n    \"eventType\": \"\",\n    \"cause\": \"\",\n    \"supplier\": \"\",\n    \"supplierReferenceId\": \"\",\n    \"startTimeStamp\": \"\",\n    \"endTimeStamp\": \"\",\n    \"estTimeStamp\": \"\",\n    \"polygon\": {\n        \"type\": \"Feature\",\n        \"geometry\": {\n            \"type\": \"Polygon\",\n            \"coordinates\": [],\n        }\n    },\n    \"action\":\"new\"\n}\noutput.push(mypayload);\nmsg.payload =output;\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":123,"wires":[["eba52a17.0049c"]]},{"id":"eba52a17.0049c","type":"ui_table","z":"46a3f4de.4bf254","payload":"[{\"title\":\"Action\",\"field\":\"action\",\"editor\":false},{\"title\":\"RequestId\",\"field\":\"requestId\",\"editor\":true},{\"title\":\"NotificationId\",\"field\":\"notificationId\",\"editor\":true},{\"title\":\"Notif Type\",\"field\":\"notificationType\",\"editor\":\"select\",\"editorParams\":{\"values\":[\"new\",\"update\",\"cancel\"]}},{\"title\":\"Event Type\",\"field\":\"eventType\",\"editor\":\"select\",\"editorParams\":{\"values\":[\"planned\",\"unPlanned\"]}},{\"title\":\"Cause\",\"field\":\"cause\",\"editor\":true},{\"title\":\"supplier\",\"field\":\"supplier\",\"editor\":\"select\",\"editorParams\":{\"values\":[\"EndeavourEnergy\",\"Energex\",\"ErgonEnergy\",\"EssentialEnergy\",\"WesternPower\",\"Ausgrid\",\"UnitedEnergy\",\"Evoenergy\",\"HorizonPower\",\"PowerNetworks\",\"TasNetworks\",\"AusNet\",\"CitiPower/Powercor\",\"PowerWater\",\"Jemena\"]}},{\"title\":\"Start Time\",\"field\":\"startTimeStamp\",\"editor\":false},{\"title\":\"End Time\",\"field\":\"endTimeStamp\",\"editor\":false},{\"title\":\"Est Time\",\"field\":\"estTimeStamp\",\"editor\":false},{\"title\":\"Polygon\",\"field\":\"polygon\",\"editor\":false},{\"title\":\"Sent\",\"field\":\"sent\",\"align\":\"center\",\"formatter\":\"tickCross\"}]","payloadType":"json","group":"fc1b3be8.71dc","name":"","order":1,"width":"27","height":"17","columns":{"0":{},"length":1},"outputs":1,"cts":true,"x":413,"y":106,"wires":[["85fb8c60.300408"]]},{"id":"d32857a0.68b77","type":"function","z":"46a3f4de.4bf254","name":"","func":"function pad ( num, size ) {\n  if (num.toString().length >= size) return num;\n  return ( Math.pow( 10, size ) + Math.floor(num) ).toString().substring( 1 );\n}\n\nvar output =[];\nvar count=1234567890;\nvar nid = 0;\nfor (var a=0;  a<10; a++ ){\n    count=count+1;\n    nid=nid+1;\n    var mydate = Date.now();\n    var mydate2 = new Date().toLocaleString().replace(/\\D/g,'')+pad(nid, 8);\n    var mypayload=\n    {\n    \"send\": true,\n    \"requestId\": count,\n    \"crq\": count+200,\n    \"notificationId\": mydate2,\n    \"notificationType\": \"new\",\n    \"eventType\": \"PLANNED\",\n    \"cause\": \"Power  equipment  undergoing  maintenance\",\n    \"supplier\": \"AUSGRID\",\n    \"supplierReferenceId\": \"01234567890123456789\",\n    \"tzone\": \"AEST\",\n    \"startTimeStamp\": mydate,\n    \"endTimeStamp\": mydate,\n    \"estTimeStamp\": mydate,\n    \"polygon\": {\n        \"type\": \"Feature\",\n        \"geometry\": {\n            \"type\": \"Polygon\",\n            \"coordinates\": [\n                [\n                    [\n                        100,\n                        0\n                    ],\n                    [\n                        101,\n                        0\n                    ],\n                    [\n                        101,\n                        1\n                    ],\n                    [\n                        100,\n                        1\n                    ],\n                    [\n                        100,\n                        0\n                    ]\n                ]\n            ]\n        }\n    },\n    \"action\":\"true\"\n}\n output.push(mypayload);\n}\n    mypayload=\n    {\n    \"requestId\": count+1,\n    \"notificationId\":\"\", \n    \"notificationType\": \"\",\n    \"eventType\": \"\",\n    \"cause\": \"\",\n    \"supplier\": \"\",\n    \"supplierReferenceId\": \"\",\n    \"startTimeStamp\": \"\",\n    \"endTimeStamp\": \"\",\n    \"estTimeStamp\": \"\",\n    \"polygon\": {\n        \"type\": \"Feature\",\n        \"geometry\": {\n            \"type\": \"Polygon\",\n            \"coordinates\": [],\n        }\n    },\n    \"action\":\"Add New\"\n}\noutput.push(mypayload);\nmsg.payload =output;\nreturn msg;","outputs":1,"noerr":0,"x":265,"y":68,"wires":[[]]}]